.wrapper {
  border-radius: 16px;
  background-color: #f4f2f0;
  width: auto;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ff7f50;
  margin-bottom: 12px;
}
.subtitle {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title {
    text-align: start;
  }
  .subtitle {
    text-align: start;
  }
}

.spanNameStudio {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2c3e50;
}

.spanNameWebStudio {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-align: center;
}
.spanNameTasty {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #9bb537;
}
